/* KANBOARD PLUGIN - CSS FILE */

:root {
    --pp-blue: #007AC9;
    --pp-blue-alt: #00ADFF;
    --pp-red: #B71234;
    --pp-red-alt: #DA004C;
    --pp-red-alt-2: #AE003D;
    --pp-black: #000000;
    --pp-light-grey: #8F8F8F;
    --pp-grey: #4D4D4D;
    --pp-white: #FFFFFF;
    --pp-green: #2EA02E;
    --pp-green-dark: #055D20;
    --pp-orange: #FF6500;
    --border-radius: 3px;
    --button-blue-gradient: linear-gradient(to bottom, #7892c2 80%, #476e9e 100%);
    --blue-border-gradient-match: #476E9E;
    --header-page-margin: 5px 15px 10px 15px;
    --page-margin: 0px 15px 0px 15px;
    --title-margin: 0px 15px 0px 15px;
    --button-background-delete: #D05C84;
    --link-color-primary: #36C;
    --blue-icon-dark: #034CA6;
    --panel-background: #EEEEEE;
    --tag-header-page-margin: 5px 10px 10px 15px;
    --tag-page-margin: 5px 10px 15px 5px;
}

.pp-blue { color: var(--pp-blue); fill: var(--pp-blue); }
.pp-blue-alt { color: var(--pp-blue-alt); fill: var(--pp-blue-alt); }
.pp-red { color: var(--pp-red); fill: var(--pp-red); }
.pp-red-alt { color: var(--pp-red-alt); fill: var(--pp-red-alt); }
.pp-red-alt-2 { color: var(--pp-red-alt-2); fill: var(--pp-red-alt-2); }
.pp-black { color: var(--pp-black); fill: var(--pp-black); }
.pp-light-grey { color: var(--pp-light-grey); fill: var(--pp-light-grey); }
.pp-grey { color: var(--pp-grey); fill: var(--pp-grey); }
.pp-white { color: var(--pp-white); fill: var(--pp-white); }
.pp-green { color: var(--pp-green); fill: var(--pp-green); }
.pp-dark-green { color: var(--pp-green-dark); fill: var(--pp-green-dark); }
.pp-orange { color: var(--pp-orange); fill: var(--pp-orange); }

div, a, details, summary, i, img, table, tr, .btn-uninstall, svg, .sidebar > ul li, figure {
    transition: ease-in-out all .3s;
}

a:hover { color: var(--pp-red-alt-2) !important; }

.display-none, .d-none { display: none !important;}

.font-weight-bold { font-weight: bold; }

.text-center { text-align: center; }

.relative { position: relative; }

#main .tag-page-header {
    margin: var(--tag-header-page-margin);
    font-size: small;
    padding: 0px 0px 5px 2px !important;
    background-color: white !important;
}

.tag-page-header h2 {
    border-bottom: 2px outset var(--blue-border-gradient-match) !important;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 1.6em;
    margin-top: 0;
    font-weight: 700;
}

.tag-bar {
    margin: auto;
    display: block;
    width: 97%;
    text-align: center;
    vertical-align: top;
}

.project-tags-bar {
    width: fit-content;
    display: inline-block;
    border: 1px solid var(--blue-border-gradient-match);
    margin: auto 10px;
    border-radius: var(--border-radius);
    height: 90px;
    padding: 0 10px;
    position: relative;
}

.tag-bar .project-tags-bar img, .tag-bar .global-tags-bar img, .tag-bar .project-tags-bar svg, .tag-bar .global-tags-bar svg {
    position: absolute;
    left: 5px;
    top: 3px;
    width: 32px;
}

.global-tags-bar {
    width: fit-content;
    display: inline-block;
    border: 1px solid var(--blue-border-gradient-match);
    margin: auto 10px;
    border-radius: var(--border-radius);
    height: 90px;
    padding: 0 10px;
    vertical-align: inherit;
    position: relative;
}

.project-tags-bar h3, .global-tags-bar h3 {
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 600;
}

.project-tags-bar ul li, .global-tags-bar ul li {
    display: inline-block;
    padding: 8px 4px;
}

.global-tag-settings-form {
    display: inline !important;
    padding: 8px;
    border-radius: var(--border-radius);
    border: 1px solid var(--blue-border-gradient-match);
    overflow: auto;
    margin-left: 10px !important;
    padding-right: 5px !important;
}

.tag-section-title {
    margin: var(--tag-page-margin);
}

.tag-section-title .sub-header {
    cursor: pointer;

}
.tag-page-header img, .sub-header img, .sub-header svg {
    vertical-align: text-bottom;
}

.sub-header h3 {
    display: inline;
    font-weight: 600;
}

.tag-title-text {
    margin-top: 10px;
    margin-bottom: 15px;
}

.tag-section-title summary::marker {
    /*content: '\27A4';*/
    font-size: 1.4em;
}

.tag-section-title[open] p, .tag-section-title[open] table {
    animation: animateDown 0.3s linear forwards;
    margin-top: 10px;
}

@keyframes animateDown {
    0% {
        opacity: 0;
        transform: translatey(-15px);
    }
    100% {
        opacity: 1;
        transform: translatey(0);
    }
}

.global-tag-settings-form form, .global-tag-settings-form form label {
    display: inline-block;
    margin-top: 0;
}

.global-tag-settings-form form .js-submit-buttons-rendered {
    display: inline-block;
}

.global-tag-settings-form form .js-submit-buttons-rendered .form-actions button {
    padding: 0px 5px 2px 5px;
    margin-left: 5px;
}

.global-tag-settings-form form .js-submit-buttons-rendered .form-actions {
    padding-top: 0;
}

.fa-plus-global-tag {
    content: url("data:image/svg+xml,%3Csvg version='1.0' width='26px' height='26px' class='global-tag-add-filled' fill='CurrentColor' viewBox='0 0 150.000000 155.000000' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(0.000000,155.000000) scale(0.100000,-0.100000)' fill='%23055D20' stroke='none'%3E%3Cpath d='M198 1480 c-51 -15 -94 -49 -118 -92 -33 -57 -34 -153 -2 -214 26 -51 75 -94 108 -94 35 0 32 35 -5 54 -87 45 -102 194 -27 264 31 27 43 32 87 32 57 0 106 -24 133 -65 9 -14 30 -78 47 -143 17 -64 39 -131 50 -149 19 -30 72 -58 90 -47 18 11 9 45 -16 54 -32 12 -48 46 -74 159 -13 52 -31 111 -41 132 -26 49 -82 95 -136 108 -49 12 -58 13 -96 1z'/%3E%3Cpath d='M289 1301 l-29 -29 0 -229 0 -229 34 -33 c32 -31 37 -33 67 -22 55 19 181 14 246 -11 80 -29 172 -121 201 -201 25 -65 30 -191 11 -246 -11 -32 -10 -34 57 -103 38 -38 82 -76 98 -85 58 -30 77 -17 293 200 111 111 207 215 213 231 7 20 7 38 0 60 -6 20 -130 151 -358 379 l-348 348 -136 -3 -136 -3 24 -94 c20 -79 29 -99 55 -121 43 -35 45 -83 4 -118 -22 -18 -35 -22 -59 -18 -71 14 -118 85 -150 223 -21 94 -35 133 -48 133 -5 0 -23 -13 -39 -29z'/%3E%3Cpath d='M345 715 c-164 -67 -245 -255 -184 -422 46 -123 176 -213 309 -213 133 0 263 90 309 213 46 126 18 252 -78 348 -98 98 -229 126 -356 74z m155 -185 l0 -90 90 0 90 0 0 -30 0 -30 -90 0 -90 0 0 -90 0 -90 -30 0 -30 0 0 90 0 90 -90 0 -90 0 0 30 0 30 90 0 90 0 0 90 0 90 30 0 30 0 0 -90z'/%3E%3C/g%3E%3C/svg%3E");
    vertical-align: top;
    width: 26px;
}

.fa-plus-project-tag {
    content: url("data:image/svg+xml,%3Csvg height='26px' width='26px' class='project-tag-add-filled' version='1.1' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='CurrentColor'%3E%3Cg fill='none' fill-rule='evenodd' id='' stroke='none' stroke-width='1'%3E%3Cg fill='%23055D20' id=''%3E%3Cpath d='M9,21 L9,18 L10,18 L10,21 L13,21 L13,22 L10,22 L10,25 L9,25 L9,22 L6,22 L6,21 L9,21 L9,21 Z M6.01331559,16.0133156 L4,14 L4,5.99961498 C4,4.88743329 4.89525812,4 5.99961498,4 L14,4 L27.3809027,17.3809027 C28.1640508,18.1640508 28.168017,19.4319586 27.3884415,20.2115341 L20.2115341,27.3884415 C19.433119,28.1668566 18.1646418,28.1646418 17.3809027,27.3809027 L14.9866844,24.9866844 C15.6282885,23.9791534 16,22.7829857 16,21.5 C16,17.9101489 13.0898511,15 9.5,15 C8.21701435,15 7.02084661,15.3717115 6.01331559,16.0133156 L6.01331559,16.0133156 L6.01331559,16.0133156 Z M9.5,11 C10.3284272,11 11,10.3284272 11,9.5 C11,8.67157283 10.3284272,8 9.5,8 C8.67157283,8 8,8.67157283 8,9.5 C8,10.3284272 8.67157283,11 9.5,11 L9.5,11 Z M9.5,27 C12.5375663,27 15,24.5375663 15,21.5 C15,18.4624337 12.5375663,16 9.5,16 C6.46243373,16 4,18.4624337 4,21.5 C4,24.5375663 6.46243373,27 9.5,27 L9.5,27 Z' id=''/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    vertical-align: top;
    width: 26px;
}

.v-middle {
    vertical-align: middle;
}

.tag-menu-count {
    margin-left: 5px;
    font-size: .8em;
    border: 1px solid var(--blue-border-gradient-match);
    padding: 2px 4px;
    border-radius: var(--border-radius);
    float: right;
}

.dropdown-submenu-open li:not(.no-hover):hover .tag-menu-count {
    border-color: var(--pp-white);
}

.dropdown-submenu-open li:not(.no-hover):hover svg {
  color: var(--pp-white);
}

.project-tags-table {}

.project-tags-table th {}

.project-tags-table tr td ul {}

.project-tags-table tr td ul li {
    list-style-type: none;
    display: inline-block;
}

.tag-actions ul li a {
    height: 28px;
    display: inline-block;
    border: 1px solid var(--blue-border-gradient-match);
    text-decoration: none !important;
    padding: 2px 5px 2px 3px;
    border-radius: var(--border-radius);
}

.fa-project-delete-tag {
    vertical-align: middle;
    width: 30px;
    content: url("data:image/svg+xml,%3Csvg version='1.0' width='22px' height='22px' class='project-tag-delete' fill='%23000000' viewBox='0 0 288.000000 288.000000' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(0.000000,288.000000) scale(0.100000,-0.100000)' fill='CurrentColor' stroke='none'%3E%3Cpath fill='%23000000' d='M465 2506 c-43 -19 -83 -63 -96 -105 -6 -23 -9 -168 -7 -413 l3 -378 108 -108 c59 -59 107 -113 107 -120 0 -7 -29 -40 -65 -73 -64 -61 -74 -75 -113 -155 -54 -114 -56 -289 -5 -409 18 -41 75 -127 105 -157 57 -57 153 -107 254 -133 80 -19 113 -19 204 4 126 32 184 66 274 161 l58 62 157 -155 c146 -146 159 -156 203 -162 55 -8 102 0 143 26 17 10 181 170 367 356 350 352 358 362 358 443 0 75 -2 77 -635 710 l-615 615 -388 2 c-306 2 -393 0 -417 -11z m724 -82 c25 -5 158 -131 629 -599 l597 -592 0 -41 c0 -42 -3 -45 -320 -364 -176 -177 -334 -333 -352 -346 -58 -44 -80 -31 -250 141 l-151 152 5 127 c5 115 4 134 -17 195 -52 157 -166 271 -323 323 -60 20 -81 22 -191 18 l-124 -6 -118 119 -119 119 -3 328 c-3 373 0 397 59 418 37 13 617 20 678 8z m-202 -1103 c105 -39 193 -124 242 -235 16 -38 21 -69 21 -142 0 -85 -3 -101 -32 -161 -40 -85 -118 -165 -195 -201 -52 -24 -69 -27 -169 -27 -102 0 -115 2 -168 29 -125 63 -201 166 -225 303 -11 63 -11 81 4 139 18 73 54 144 94 188 49 54 161 114 241 130 43 8 133 -3 187 -23z'/%3E%3Cpath fill='%23AE003D' d='M755 2233 c-82 -42 -125 -114 -125 -210 0 -74 22 -126 72 -168 53 -45 95 -58 170 -53 123 9 197 83 206 206 7 101 -35 180 -119 222 -47 24 -159 26 -204 3z m171 -102 c60 -37 71 -147 20 -197 -30 -31 -89 -41 -141 -24 -91 30 -102 170 -16 223 35 22 99 21 137 -2z'/%3E%3Cpath fill='%23AE003D' d='M695 1030 l-160 -5 0 -70 0 -70 325 0 325 0 3 68 c2 48 -1 68 -10 72 -22 7 -315 10 -483 5z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.fa-project-edit-tag {
    vertical-align: middle;
    width: 30px;
    content: url("data:image/svg+xml,%3Csvg version='1.0' width='26px' height='26px' class='project-tag-edit' fill='CurrentColor' viewBox='0 0 288.000000 288.000000' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' %3E%3Cg transform='translate(0.000000,288.000000) scale(0.100000,-0.100000)' fill='CurrentColor' stroke='none'%3E%3Cpath d='M2373 2530 c-55 -6 -93 -28 -127 -74 -20 -27 -21 -41 -24 -447 -2 -320 -5 -419 -15 -419 -6 0 -220 208 -474 463 l-463 462 -388 3 -388 3 -44 -24 c-30 -16 -51 -37 -67 -67 l-24 -44 3 -388 3 -388 615 -615 c633 -633 635 -635 710 -635 77 0 99 17 306 221 110 109 205 199 212 199 7 0 12 -15 12 -36 0 -28 17 -61 82 -157 45 -67 91 -136 102 -154 37 -56 52 -46 151 103 50 75 96 147 103 161 11 20 13 186 12 871 l-1 847 -24 37 c-14 21 -37 45 -52 55 -30 20 -137 31 -220 23z m193 -107 c13 -14 26 -41 30 -59 10 -53 0 -174 -14 -183 -22 -13 -260 -7 -274 7 -17 17 -17 158 -1 203 18 48 40 56 147 57 82 1 90 -1 112 -25z m-1377 1 c24 -5 141 -116 515 -485 274 -271 490 -493 500 -513 25 -52 24 -427 -1 -473 -19 -34 -445 -468 -477 -485 -53 -29 -56 -26 -673 597 -323 327 -591 604 -595 617 -3 13 -6 165 -6 338 -1 355 3 376 59 396 36 13 617 20 678 8z m1398 -350 c11 -15 13 -126 11 -630 -2 -337 -7 -616 -11 -621 -12 -11 -259 -16 -275 -5 -10 7 -13 132 -13 618 1 335 1 614 1 621 0 32 26 38 150 37 108 -1 125 -3 137 -20z m-28 -1358 c15 -17 -94 -176 -119 -176 -11 0 -20 4 -20 8 0 4 -22 42 -49 83 -44 65 -48 76 -34 86 20 16 209 15 222 -1z'/%3E%3Cpath d='M755 2233 c-82 -42 -125 -114 -125 -210 0 -74 22 -126 72 -168 53 -45 95 -58 170 -53 123 9 197 83 206 206 7 101 -35 180 -119 222 -47 24 -159 26 -204 3z m171 -102 c60 -37 71 -147 20 -197 -30 -31 -89 -41 -141 -24 -91 30 -102 170 -16 223 35 22 99 21 137 -2z'/%3E%3C/g%3E%3C/svg%3E");
}

.fa-project-convert-tag {
    vertical-align: middle;
    width: 28px;
    content: url("data:image/svg+xml,%3Csvg version='1.0' width='22px' height='22px' class='convert-global-tag' fill='CurrentColor' viewBox='0 0 153.000000 149.000000' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(0.000000,149.000000) scale(0.100000,-0.100000)' fill='CurrentColor' stroke='none'%3E%3Cpath fill='CurrentColor' d='M1051 1457 c-64 -33 -104 -94 -109 -165 -4 -67 15 -106 41 -84 12 11 13 19 5 43 -15 42 13 110 60 149 96 79 230 -4 207 -128 -4 -20 -26 -68 -50 -107 -74 -119 -89 -171 -61 -210 22 -30 46 -4 39 41 -5 29 3 48 50 127 31 50 60 111 65 135 19 81 -18 164 -88 200 -56 28 -105 28 -159 -1z'/%3E%3Cpath fill='%23055D20' d='M959 1163 c-143 -141 -149 -148 -149 -187 l0 -41 -123 123 -122 122 -202 0 -201 0 -31 -26 -31 -26 0 -212 0 -211 329 -329 c328 -327 328 -328 368 -325 24 2 48 -3 63 -14 22 -15 57 -17 306 -17 l282 0 31 35 31 36 0 462 0 462 -87 87 c-57 57 -95 88 -109 88 -33 0 -114 -139 -114 -195 0 -66 -44 -89 -77 -39 -23 36 -6 96 57 200 72 117 66 154 -23 154 l-49 0 -149 -147z m-280 -159 l131 -126 0 -388 c0 -271 -3 -391 -11 -396 -6 -3 -148 131 -335 317 l-324 324 0 178 c0 104 4 186 10 198 10 18 23 19 204 19 l193 0 132 -126z'/%3E%3Cpath fill='CurrentColor' d='M302 1023 c-67 -33 -83 -119 -32 -177 38 -43 86 -54 135 -30 88 42 87 173 -2 210 -42 18 -60 17 -101 -3z m107 -59 c27 -35 26 -59 -4 -89 -47 -48 -115 -22 -115 45 0 29 6 43 22 54 34 24 73 20 97 -10z'/%3E%3C/g%3E%3C/svg%3E");
}
